body{
    background-color: white;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    /* background-image: linear-gradient(to right, #fbcc66 , #ffce66); */
}
.container{
    max-width: 1418px;
}
/* login-form */
.nav-sm{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar-collapse{
    position: relative;
}

#login-form {
    transition: 1s;
    width: 300px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 999;
    background: #044c91;
    padding: 15px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    display: none;
}
.dbflex{
    display: flex;
}
.ml-15{
    margin-left: 15px;
}
.max-100{
    max-width: 100%;
}
.mt-85{
    margin-top: 85px;
}
.ptb-40{
    padding: 40px 0;
}
.mt-50{
    margin-top: 50px;
}
.mt-30{
    margin-top: 30px;
}
.mt-25{
    margin-top: 25px;
}
.mt-20{
    margin-top: 20px;
}
.pr-56{
    padding-right: 56px;
}


#navbarCollapsInd{
    height: 80px;
    background-color: #044c91 !important;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff !important;
}
.navbar-brand img{
    width: 200px;
}

.navbar-nav  a{
    white-space: nowrap;
}


/* Banner item */
.single-item{
    padding: 60px 70px;
}
.slbg1{
    background-color: #118bb2;
}
.slbg2{
    background-color: #06d5a0;
}
.slbg3{
    background-color: #ef4a6f;
}

.single-item h1{
    color: white;
    font-weight: 500;
}

.single-item h1> span{
    font-weight: 700;
    color: #054688;
}
.single-item p{
    color: white;    
    font-size: 18px;
    font-weight: 500;
}

/* .carousel-indicators */
.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li{
    width: 8px;
    height: 8px;
    background-color: #389cac;
    border-radius: 50%;
}
.slideControllerArrow{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color:#389cac ;
    position: relative;
    border: 2px solid white;
    color: white;
}
.slideControllerArrow i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carousel-control-next, .carousel-control-prev{
    width: 50px;
}
/* section */
.section-title h1{
    margin-top: 60px;
    text-align: center;
    font-size: 36px;
    color: #044c91;
}
.single-featurer{
    padding: 30px 20px;
    background-color:#ffffff;
    position: relative;
    -webkit-box-shadow: 7px 9px 15px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 7px 9px 15px -4px rgba(0,0,0,0.23);
    box-shadow: 7px 9px 15px -4px rgba(0,0,0,0.23);
}


/*  */
.hover-effect1 .hover-effect2 .hover-effect3 .hover-effect4 .hover-effect5 .hover-effect6 {
    transition: .8s;
}


.hover-effect1::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 0px;
    background-image: linear-gradient(to right, #1189b0 , #073d4e);
    right: 50%;
}
.hover-effect1:hover::after{
    right:  0;
    transition: .8s;
    width:100%;
    bottom: 0;
}
.hover-effect2::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 0px;
    background-image: linear-gradient(to right, #ef4a6f , #ffce66);
    right: 50%;
}
.hover-effect2:hover::after{
    right:  0;
    transition: .8s;
    width:100%;
    bottom: 0;
}
.hover-effect3::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 0px;
    background-image: linear-gradient(to right, #06d5a0 , #118bb2);
    right: 50%;
}
.hover-effect3:hover::after{
    right:  0;
    transition: .8s;
    width:100%;
    bottom: 0;
}
.hover-effect4::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 0px;
    background-image: linear-gradient(to right, #ef4a6f , #ffce66);
    right: 50%;
}
.hover-effect4:hover::after{
    right:  0;
    transition: .8s;
    width:100%;
    bottom: 0;
}
.hover-effect5::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 0px;
    background-image: linear-gradient(to right, #06d5a0 , #118bb2);
    right: 50%;
}

.hover-effect5:hover::after{
    right:  0;
    transition: .8s;
    width:100%;
    bottom: 0;
}
.hover-effect6::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 0px;
    background-image: linear-gradient(to right, #06d5a0 , #118bb2);
    right: 50%;
}
.hover-effect6:hover::after{
    right:  0;
    transition: .8s;
    width:100%;
    bottom: 0;
}

/* dadf */
.hover-effect1:hover{
    transition: .8s;
    -webkit-box-shadow: 7px 9px 15px -4px #1189b0;
    -moz-box-shadow: 7px 9px 15px -4px  #073d4e;
    box-shadow: 7px 9px 15px -4px #00c3ff
}
.hover-effect3:hover{
    -webkit-box-shadow: 7px 9px 15px -4px #ef4a6f;
    -moz-box-shadow: 7px 9px 15px -4px  #ffce66;
    box-shadow: 7px 9px 15px -4px #ffae00
}
.hover-effect2:hover{
    -webkit-box-shadow: 7px 9px 15px -4px #06d5a0;
    -moz-box-shadow: 7px 9px 15px -4px  #06d5a0;
    box-shadow: 7px 9px 15px -4px #06d5a0
}
.hover-effect4:hover{
    transition: .8s;
    -webkit-box-shadow: 7px 9px 15px -4px #1189b0;
    -moz-box-shadow: 7px 9px 15px -4px  #073d4e;
    box-shadow: 7px 9px 15px -4px #00c3ff
}
.hover-effect6:hover{
    transition: .8s;
    -webkit-box-shadow: 7px 9px 15px -4px #ef4a6f;
    -moz-box-shadow: 7px 9px 15px -4px  #ffce66;
    box-shadow: 7px 9px 15px -4px #ffae00
}
.hover-effect5:hover{
    transition: .8s;
    -webkit-box-shadow: 7px 9px 15px -4px #06d5a0;
    -moz-box-shadow: 7px 9px 15px -4px  #06d5a0;
    box-shadow: 7px 9px 15px -4px #06d5a0
}
.color-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
}
.bar-bg1{
    background-image: linear-gradient(to right, #1189b0 , #073d4e);
}
.bar-bg2{
    background-image: linear-gradient(to right, #ef4a6f , #ffce66);
}
.bar-bg3{
    background-image: linear-gradient(to right, #06d5a0 , #118bb2);
}
.bar-bg4{
    background-image: linear-gradient(to right, #ef4a6f , #ffce66);
}
.bar-bg5{
    background-image: linear-gradient(to right, #06d5a0 , #118bb2);
}
.bar-bg6{
    background-image: linear-gradient(to right, #1189b0 , #073d4e);
}



.feature-title h2{
    font-size: 24px;
    color:#333333
}

/* video section  */
.video-section{
    padding:0  10% ;
}

/* Testimonial */
.user{
    text-align: center;
}
.user-container{
    width: 200px;
    display: inline-block;
}
.img{
    min-width: 65px;
    max-width: 65px;
    margin-right: 16px;
}
.img img{
    width: 100%;
}
.details{
    margin-top: 7px;
    text-align: left;
    color: #444444;
}
.details h3{
    white-space: nowrap;
    font-size: 20px;
}
.details p{
    white-space: nowrap;
    font-size: 14px;
}
/* contact-section */
.contact-shadow{
    box-shadow: 7px 9px 15px -4px rgba(0,0,0,0.23);
}
/* .static-height{
    height: 550px;
    overflow: scroll;
} */
.single-info{
    margin: 10px 0;
}
.contact-icon{
    margin-right: 20px;
}
.contact-text p{
    margin: 0px;
}
.contact-form{
    background-color:#d9d9d9;
    padding: 20px;
}
.contact-form input{
    border-radius: 12px !important;
}
.submit-button{
    color: white;
    background-color: #044c91;
    padding: 10px 40px !important;
}

/* about-us */
.about-us{
    position: relative;
    background-color: #389cad;
}
.about-us .aboutImg {
    position: absolute;
    height: 100%;
    width: 49%;
    right: 0;
}
.about-us p{
    text-align: justify;
    color: white;
}
.about-us h3{
    font-size: 36px;
    color: white;
}

/* Footer nav */
.footer-nav {
    padding: 40px 0;
    background-color: #044c91;
    color: white;
    text-align: justify;
}
.footer-logo img{
    width: 200px;
}
.single-footer-icon{
    margin-right: 20px;
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 2px solid white;
}
.single-footer-icon i{
    position: absolute;
    top: 50%;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu ul li{
    padding: 0;
    margin: 10px 0;
}
.footer-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: left;
    white-space: nowrap;
}
.footer-menu ul li a:hover{
    text-decoration: underline;
}
.footer-form h5{
    font-size: 20px;
    color: white;
    white-space: nowrap;
}
.subscribe{
    background: white;
    border-radius: 13px;
    padding: 5px 18px;
    color:#044c91 ;
    font-weight: 600;
}
/* footer */
.footer{
    border-top: 2px solid #5082b2;
    background-color: #044c91;
}
.footer-contant{
    padding: 15px 0;
    color: white;
}
.footer-contant p{
    margin: 0;
    width: 100%;
    text-align: right;
    line-height: 3.5;
    margin-right: 15px;
}
.dft{
    display: flex;
}